#onload {
  width: 100%;
  height: 1000px;
  background-color: white;
  position: fixed;
  z-index: 2000;
}

#onload .left, #onload .right {
  width: 52%;
  background-color: #ddfeff;
  padding: 200px 0;
  height: 1000px;
  position: absolute;
}

#onload .right {
  right: 0px;
}

#onload .sircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  left: 48%;
  top: 300px;
  -webkit-animation-name: aha;
          animation-name: aha;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

#onload .sircle .small-sircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border-top: 8px solid #FFBC09;
  border-right: 8px solid black;
  border-bottom: 8px solid black;
  border-left: 8px solid black;
  position: absolute;
  left: -2px;
  top: -2px;
}

@-webkit-keyframes aha {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes aha {
  from {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fixed {
  position: fixed !important;
  width: 100% !important;
  top: 0;
  background-color: white;
  z-index: 3;
}

.fixed .row {
  max-width: 1100px;
}

.main-button {
  position: relative;
  width: 180px;
  height: 50px;
  font-weight: bold;
  background-color: #FFBC09;
  border-style: none;
  color: white;
  border-radius: 0.2rem;
  padding: 5px 15px;
  overflow: hidden;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.main-button::before {
  content: "/";
  font-weight: bolder;
  font-size: 100px;
  position: absolute;
  top: -50px;
  right: 180px;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 0;
  opacity: 0.7;
}

.main-button:hover {
  background-color: #DF9C00;
}

.main-button:hover::before {
  right: -100px;
}

.header-section h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
}

.header-section p {
  margin: 30px 0;
  font-size: 16px;
  opacity: 0.7;
  text-align: center;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

header .discount {
  width: 100%;
  background-color: #f5576c;
  padding: 15px 0;
  color: white;
  font-weight: bold;
  text-align: center;
}

header .discount a {
  color: white;
  text-decoration: underline;
}

header .discount i {
  font-size: 20px;
  opacity: 0.5;
  margin: 0px 12px;
  vertical-align: -2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .discount i:hover {
  opacity: 0.7;
}

header .contact {
  background-color: #343a40;
}

header .contact .row {
  margin: 0 auto;
  width: 1100px;
  color: white;
  padding: 10px;
}

header .contact .row .main-button {
  width: 120px;
  height: 35px;
}

header .contact .row .main-button::before {
  right: 120px;
}

header .contact .row .main-button:hover::before {
  right: -30px;
}

header .contact .row .phone-mail {
  margin-top: 5px;
  font-size: 14px;
  padding: 0;
}

header .contact .row .phone-mail i {
  margin-right: 5px;
  font-size: 20px;
}

header .contact .row .phone-mail a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .contact .row .phone-mail a:hover {
  color: #FFBC09;
  text-decoration: none;
}

header .contact .row .social-login {
  padding: 0;
  text-align: end;
}

header .contact .row .social-login i {
  margin: 0 7px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .contact .row .social-login i:hover {
  color: #FFBC09;
}

header .contact .row .social-login a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-left: 1px solid;
}

header .contact .row .social-login a:hover {
  color: #FFBC09;
  text-decoration: none;
  border-left-color: white;
}

header .contact .row a {
  color: white;
  padding: 5px 10px;
}

header .navigation {
  margin: 0 auto;
  width: 1100px;
  height: 80px;
}

header .navigation > .row {
  width: 1100px;
}

header .navigation .menues {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 0px;
}

header .navigation .home-link {
  padding-top: 20px;
}

header .navigation .menues-down {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: -webkit-fit-content !important;
  height: -moz-fit-content !important;
  height: fit-content !important;
}

header .navigation .menu,
header .navigation .search {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: 14px;
  font-weight: 600;
  padding: 30px 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}

header .navigation .menu h6,
header .navigation .search h6 {
  width: 100%;
  text-align: justify;
}

header .navigation .menu:hover,
header .navigation .search:hover {
  color: #FFBC09;
}

header .navigation .menu a,
header .navigation .search a {
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .navigation .menu ul,
header .navigation .search ul {
  display: none;
  font-weight: 400;
  position: absolute;
  z-index: 1;
  width: 180px;
  margin-top: 30px;
  padding: 5px 0 5px 15px;
  background-color: white;
  border: 2.5px double gray;
}

header .navigation .menu ul li,
header .navigation .search ul li {
  list-style: none;
  padding: 8px 0;
}

header .navigation .menu ul li i,
header .navigation .search ul li i {
  color: black;
  margin-left: 90px;
}

header .navigation .menu-icon {
  display: none;
  line-height: 80px;
  text-align: end;
}

header .navigation .menu-icon i {
  padding: 0 6px;
  font-size: 20px;
}

footer #training {
  background-color: #FFBC09;
  color: white;
  padding: 40px;
}

footer #navigation {
  padding: 60px 0;
  background-color: #3b3b3b;
  color: white;
}

footer #navigation .contact {
  width: 25%;
}

footer #navigation i {
  margin-right: 10px;
}

footer #navigation a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer #navigation a:hover {
  color: #FFBC09;
  text-decoration: none;
}

footer #navigation .navigation-footer {
  padding: 0 40px 0 20px;
}

footer #navigation .navigation-footer ul {
  padding: 0;
}

footer #navigation .navigation-footer ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  list-style: none;
  padding-bottom: 10px;
}

footer #navigation .navigation-footer ul li:hover {
  margin-left: 10px;
}

footer #navigation h5 {
  padding: 12px 0 19px 0;
}

footer #navigation .posts {
  padding-right: 15px;
  width: 280px;
}

footer #navigation .posts p {
  line-height: 1.1;
  margin-bottom: 10px;
}

footer #navigation .posts .post span p:nth-child(1) {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer #navigation .posts .post span p:nth-child(1):hover {
  color: #FFBC09;
}

footer #navigation .posts .post span p:nth-child(2) {
  opacity: 0.7;
}

footer #navigation .subscribe {
  width: 300px;
}

footer #navigation .subscribe form {
  width: 260px;
  padding: 5px;
  background-color: white;
}

footer #navigation .subscribe form input {
  border-style: none;
  width: 160px;
}

footer #navigation .subscribe form .main-button {
  text-align: end;
  padding-right: 10px;
  width: 80px;
  height: 30px;
  font-size: 12px;
}

footer #navigation .subscribe p {
  font-size: 16px;
  padding: 10px 0;
  margin: 0;
}

footer #navigation .subscribe i {
  width: 40px;
  background-color: rgba(255, 255, 255, 0.226);
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  margin: 3px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer #navigation .subscribe i:hover {
  color: #FFBC09;
}

footer #end {
  background-color: #222222;
  padding: 30px;
  text-align: center;
  color: white;
}

footer #end a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer #end a:hover {
  color: #FFBC09;
  text-decoration: none;
}

button.right {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: transparent;
  border-style: solid;
  padding: 12px 28px;
  position: absolute;
  right: 230px;
  color: white;
  overflow: hidden;
  z-index: 2;
}

button.right::before {
  content: "";
  width: 160px !important;
  height: 55px !important;
  position: absolute;
  background-color: white;
  top: -5px;
  left: -200px;
  z-index: 9;
}

button.right:hover::before {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  top: -5px;
  left: -5px;
  z-index: -1;
}

button.right::after {
  content: "";
  width: 160px;
  height: 55px;
  position: absolute;
  background-color: white;
  top: -5px;
  left: 170px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

button.right:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFBC09;
}

button.right:hover::after {
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: -5px;
  left: -5px;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.icon-ylw::before {
  color: #FFBC09;
}

.bottom {
  top: 100px;
}

#slider {
  background-color: black;
  height: 800px;
  position: relative;
}

#slider .slider-item {
  height: 900px;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: absolute;
}

#slider .slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  margin-top: -100px;
  opacity: 0.5;
}

#slider .slider-item .text-slider {
  position: absolute;
  top: 35%;
  margin-left: -400px;
  left: 50%;
  color: white;
  text-align: center;
}

#slider .slider-item .text-slider h1 {
  width: 800px;
  font-size: 50px;
  font-weight: bold !important;
}

#slider .slider-item .text-slider h5 {
  font-size: 18px;
  margin: 50px 0;
}

#slider .slider-item .text-slider .buttons {
  width: 100%;
}

#slider .slider-item .text-slider .buttons .left {
  width: 155px;
  padding: 12px;
  border-style: none;
  left: -100px;
  z-index: 2;
}

#slider .slider-item .text-slider .buttons .right {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: transparent;
  border-style: solid;
  padding: 12px 28px;
  position: absolute;
  right: 230px;
  color: white;
  overflow: hidden;
  z-index: 2;
}

#slider .slider-item .text-slider .buttons .right::before {
  content: "";
  width: 160px;
  height: 55px;
  position: absolute;
  background-color: white;
  top: -5px;
  left: -230px;
}

#slider .slider-item .text-slider .buttons .right:hover::before {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  top: -5px;
  left: -5px;
  z-index: -1;
}

#slider .slider-item .text-slider .buttons .right::after {
  content: "";
  width: 160px;
  height: 55px;
  position: absolute;
  background-color: white;
  top: -5px;
  left: 170px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

#slider .slider-item .text-slider .buttons .right:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #FFBC09;
}

#slider .slider-item .text-slider .buttons .right:hover::after {
  z-index: -1;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  top: -5px;
  left: -5px;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#slider .show {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#slider .icon {
  z-index: 2;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 350px;
  padding-top: 14px;
  font-size: 18px;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#slider .left {
  left: 30px;
  padding-left: 21px;
}

#slider .right {
  right: 30px;
  padding-left: 21px;
}

#slider:hover .icon {
  opacity: 1;
}

#why-choose-eduglobal {
  background-color: #f1f1f1;
  padding: 100px 0;
}

#why-choose-eduglobal .item-cover {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#why-choose-eduglobal .item-cover .item {
  width: 100%;
  background-color: white;
  padding: 30px 30px 10px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px #e0e0e0;
          box-shadow: 0px 0px 20px 0px #e0e0e0;
}

#why-choose-eduglobal .item-cover .img {
  background-color: #FFBC09;
  width: 65px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 50%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: relative;
}

#why-choose-eduglobal .item-cover .img::after {
  content: "";
  position: absolute;
  width: 99px;
  height: 98px;
  border: 3px solid white;
  border-radius: 50%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#why-choose-eduglobal .item-cover:hover .img::after {
  opacity: 1;
  width: 88px;
  height: 88px;
  top: 8px;
  left: 8px;
}

#why-choose-eduglobal .item-cover h4 {
  font-weight: bold;
  margin-bottom: 10px;
}

#why-choose-eduglobal .item-cover p {
  opacity: 0.7;
}

#why-choose-eduglobal .item-cover:hover {
  margin-top: -10px;
}

#most-popular-categories {
  margin-bottom: 60px;
}

#most-popular-categories .header-section {
  margin-top: 100px;
}

#most-popular-categories .items:hover .owl-prev {
  left: 20px;
  background-color: white;
  opacity: 1;
}

#most-popular-categories .items:hover .owl-next {
  right: 20px;
  background-color: white;
  opacity: 1;
}

#most-popular-categories .item {
  text-align: center;
  padding: 20px 0;
  border-radius: 10px;
  color: white;
  overflow: hidden !important;
}

#most-popular-categories .item i {
  font-size: 30px;
}

#most-popular-categories .item p {
  margin-top: 10px;
  font-size: 18px;
}

#most-popular-categories .owl-prev {
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 25px;
  left: -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

#most-popular-categories .owl-next {
  font-size: 40px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  position: absolute;
  top: 25px;
  right: -20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

#about-us .col-lg-12 {
  padding: 0;
}

#about-us .about-us {
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  margin: auto 0;
  margin-right: -50px;
  border-radius: 0 200px 200px 0;
  z-index: 1;
  background-color: white;
}

#about-us .about-us .info {
  padding: 30px 40px 30px 30px;
}

#about-us .about-us .info h1 {
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 32px;
}

#about-us .about-us .info .opacity {
  opacity: 0.7;
}

#about-us .about-us .info p {
  text-align: left;
  margin: 10px 0;
  font-size: 14px;
}

#about-us .about-us .info .free {
  font-size: 36px;
  color: #f5576c;
  margin-right: 65px;
}

#about-us .about-us .info .paid {
  font-size: 36px;
  color: #B3D369;
}

#about-us .image {
  position: relative;
  min-width: 700px;
}

#about-us .image img {
  opacity: 0.5;
  width: 100%;
  -o-object-fit: contain !important;
     object-fit: contain !important;
}

#about-us .image i {
  color: #FFBC09;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  padding-left: 5px;
  text-align: center;
  position: absolute;
  top: 42%;
  left: 48%;
  background-color: white;
  z-index: 1;
}

#about-us .image i::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: sircle;
          animation-name: sircle;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#about-us .video {
  position: relative;
  margin-top: -500px;
  z-index: 4;
}

#about-us .video iframe {
  width: 100%;
  height: 555px;
  z-index: 10;
  position: absolute;
}

#about-us .video::after {
  content: "x";
  font-weight: bold;
  position: absolute;
  display: block;
  color: white;
  top: -35px;
  right: 250px;
  font-size: 25px;
}

#about-us .video::before {
  content: "";
  position: fixed;
  top: 0;
  width: 2000px;
  height: 800px;
  background-color: black;
  opacity: 0.8;
}

@-webkit-keyframes sircle {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

@keyframes sircle {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

.d-none {
  display: none !important;
}

.d-none::before {
  display: none;
}

#related-courses, #our-courses {
  margin: 100px 0;
}

#related-courses .container, #our-courses .container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#related-courses .item-cover, #our-courses .item-cover {
  margin-bottom: 30px;
}

#related-courses .item, #our-courses .item {
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  border-radius: 10px;
  overflow: hidden;
}

#related-courses .item .img, #our-courses .item .img {
  overflow: hidden;
  text-align: center;
}

#related-courses .item img, #our-courses .item img {
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#related-courses .item:hover .img img, #our-courses .item:hover .img img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#related-courses .item .about-item, #our-courses .item .about-item {
  padding: 5px 15px;
}

#related-courses .item .about-item .title-item, #our-courses .item .about-item .title-item {
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#related-courses .item .about-item .title-item:hover, #our-courses .item .about-item .title-item:hover {
  color: #FFBC09;
}

#related-courses .item .about-item p, #our-courses .item .about-item p {
  font-size: 14px;
  opacity: 0.7;
}

#related-courses .item .about-item .rating, #our-courses .item .about-item .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#related-courses .item .about-item .rating .left, #our-courses .item .about-item .rating .left {
  color: #FFBC09;
}

#related-courses .item .about-item .rating .right, #our-courses .item .about-item .rating .right {
  font-size: 16px;
}

#related-courses .item .about-item .rating .right .far, #our-courses .item .about-item .rating .right .far {
  margin: 0 3px 0 10px;
}

#related-courses .item .about-item .rating .right .right1, #our-courses .item .about-item .rating .right .right1 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#related-courses .item .about-item .rating .right .right1:hover, #our-courses .item .about-item .rating .right .right1:hover {
  color: #FFBC09;
}

#related-courses .item .about-item .rating .right .right2, #our-courses .item .about-item .rating .right .right2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#related-courses .item .about-item .rating .right .right2:hover, #our-courses .item .about-item .rating .right .right2:hover {
  color: #FFBC09;
}

#related-courses .item .about-item .person, #our-courses .item .about-item .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#related-courses .item .about-item .person .person-profil, #our-courses .item .about-item .person .person-profil {
  min-width: 170px;
}

#related-courses .item .about-item img, #our-courses .item .about-item img {
  max-width: 60px;
  border-radius: 50%;
}

#related-courses .item .about-item .price, #our-courses .item .about-item .price {
  border-radius: 5px;
  margin: auto 0;
  text-align: center;
  line-height: 34px;
  width: 60px;
  height: 35px;
  color: #0c5460;
  background-color: #d1ecf1;
}

#related-courses .item .about-item .person, #our-courses .item .about-item .person {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#related-courses .item .about-item .person:hover, #our-courses .item .about-item .person:hover {
  text-decoration: none;
  color: #FFBC09;
}

#related-courses .main-button, #our-courses .main-button {
  left: 50%;
  margin-left: -85px;
}

.pages {
  padding-top: 20px;
  text-align: center;
}

.pages span {
  cursor: pointer;
  padding: 8px 16px;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
  border: 2px solid #adadad;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pages span:nth-child(2) {
  background-color: #FFBC09;
  color: white;
  border-color: #FFBC09;
}

.pages span:hover {
  background-color: #FFBC09;
  color: white;
  border-color: #FFBC09;
}

.pages span:first-child {
  padding: 8px 12px;
}

.pages span:first-child:hover {
  background-color: white;
  color: black;
  border-color: #adadad;
}

.pages span:last-child {
  padding: 8px 12px;
}

#related-courses {
  margin-top: 50px;
}

#statics {
  background-image: url("../images/counter_bg.jpg");
  background-position-y: center;
  background-size: cover;
}

#statics .item {
  padding: 70px 50px;
  color: white;
  text-align: center;
}

#statics .item p {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}

#statics .item span {
  font-size: 18px;
}

#statics .statics {
  background-color: rgba(0, 31, 63, 0.651);
}

#upcoming-events .header-section {
  margin-top: 100px;
}

#upcoming-events .item {
  margin-bottom: 80px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
}

#upcoming-events .item:hover img {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

#upcoming-events .item img {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#upcoming-events .item .img {
  overflow: hidden;
}

#upcoming-events .item .about-item {
  padding: 15px;
}

#upcoming-events .item .about-item h5 {
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#upcoming-events .item .about-item h5:hover {
  color: #FFBC09;
}

#upcoming-events .item .about-item p {
  margin: 0;
  opacity: 0.7;
}

#upcoming-events .item .about-item p .fas {
  margin-left: 10px;
}

#upcoming-events .item .about-item p span {
  color: #FFBC09;
  font-weight: 500;
  margin: 5px;
}

#upcoming-events .item .time {
  text-align: center;
  width: 80px;
  position: absolute;
  top: 10px;
  left: 25px;
  color: black;
  border-radius: 5px;
  overflow: hidden;
}

#upcoming-events .item .time .up {
  padding: 5px;
  background-color: white;
  font-weight: bold;
}

#upcoming-events .item .time .up :first-child {
  font-size: 25px;
}

#upcoming-events .item .time .down {
  padding: 5px;
  background-color: #FFBC09;
  color: white;
  font-weight: 500;
}

#upcoming-events .item .time p {
  margin: 0;
}

#online-courses {
  padding: 80px 80px 0 80px;
  color: white;
  background-image: url("../images/pattern_bg.png");
  background-color: #07294D;
}

#online-courses .registration {
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

#online-courses .registration h2 {
  font-weight: bold;
}

#online-courses .registration h2 .yellow {
  color: #FFBC09;
}

#online-courses .registration h5 {
  font-weight: 400;
  margin: 25px 0;
  font-size: 17px;
}

#online-courses .registration input {
  padding: 10px 20px;
  margin: 10px 20px 10px 0;
  background-color: transparent;
  border: 1px solid;
  border-radius: 5px;
  color: white;
}

#online-courses .registration select {
  padding: 10.5px;
  width: 216px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.527);
}

#online-courses .registration textarea {
  background-color: transparent;
  color: white;
  padding: 16px;
  margin: 12px 0;
  border: 1px solid;
}

#online-courses .image {
  background-color: #07294D;
}

#our-gallery {
  padding: 100px 0;
}

#our-gallery .col-lg-4 {
  position: static !important;
  -webkit-transition: 0.6s !important;
  transition: 0.6s !important;
}

#our-gallery .items-name div {
  background-color: #e6e6e6;
  width: 100px;
  text-align: center;
  padding: 5px 10px;
  margin: 10px;
  font-weight: 500;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-gallery .items-name div:hover {
  background-color: #FFBC09;
  color: white;
}

#our-gallery .item {
  -webkit-transition: 0.6s;
  transition: 0.6s;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 30px;
}

#our-gallery .item .image {
  max-width: 350px;
}

#our-gallery .item .image img {
  width: 100%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#our-gallery .item .image .animate-item {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 28%;
  color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-gallery .item:hover .animate-item {
  opacity: 1;
  top: 25%;
}

#our-gallery .item:hover img {
  opacity: 0.4;
}

.active {
  background-color: #FFBC09 !important;
  color: white;
}

.image {
  position: relative;
  background-color: black;
}

.image i {
  color: #FFBC09;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  margin-bottom: 15px;
  text-align: center;
  position: relative;
  background-color: white;
  z-index: 1;
}

.image i::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: image;
          animation-name: image;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.dis {
  width: 0px;
  -webkit-transition: 0.6s !important;
  transition: 0.6s !important;
}

@-webkit-keyframes image {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

@keyframes image {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

#our-teachers {
  background-image: url("../images/teacher_bg.jpg");
}

#our-teachers .container-fluid {
  background-color: rgba(7, 41, 77, 0.9);
  padding: 70px 0;
}

#our-teachers .header-section {
  color: white;
  padding: 20px;
}

#our-teachers .header-section p {
  opacity: 1;
}

#our-teachers .item {
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

#our-teachers .item .img {
  background-color: black;
}

#our-teachers .item .img img {
  width: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#our-teachers .item .about-teacher {
  background-color: white;
  padding: 10px;
  text-align: center;
}

#our-teachers .item .about-teacher a {
  font-weight: 500;
  color: black;
  font-size: 22px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-teachers .item .about-teacher a:hover {
  text-decoration: none;
  color: #FFBC09;
}

#our-teachers .item .icons {
  color: white;
  font-size: 18px;
  position: absolute;
  left: 50px;
  top: 200px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
}

#our-teachers .item .icons i {
  padding: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-teachers .item .icons i:hover {
  color: #FFBC09;
}

#our-teachers .item:hover .img img {
  opacity: 0.5;
}

#our-teachers .item:hover .icons {
  opacity: 1;
  top: 100px;
}

#stydent-say {
  margin: 80px;
}

#stydent-say .header-section p {
  margin: 20px 0 0;
}

#stydent-say .item {
  border-radius: 10px;
  width: 40%;
  padding: 25px 50px 25px 70px;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  margin: 50px;
  position: relative;
}

#stydent-say .item h1 {
  font-weight: 700;
}

#stydent-say .item i {
  color: #FFBC09;
}

#stydent-say .item p {
  opacity: 0.7;
  margin-top: 10px;
}

#stydent-say .item .img {
  position: absolute;
  top: 30px;
  left: -50px;
  border-radius: 5px;
  overflow: hidden;
}

#stydent-say .item:focus {
  outline: none;
}

#our-blog {
  background-color: #eeeeee;
  padding: 100px 0;
}

#our-blog h1 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 60px;
}

#our-blog .items .item {
  margin-bottom: 40px;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  border-radius: 10px;
  overflow: hidden;
}

#our-blog .items .item .img {
  background-color: black;
}

#our-blog .items .item .img img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-blog .items .item .about-item {
  padding: 15px;
}

#our-blog .items .item .about-item h5 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-blog .items .item .about-item h5:hover {
  color: #FFBC09;
}

#our-blog .items .item .about-item a {
  color: black;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#our-blog .items .item .about-item a:hover {
  text-decoration: none;
  color: #FFBC09;
}

#our-blog .items .item .about-share {
  padding: 15px;
}

#our-blog .items .item .about-share i {
  color: #FFBC09;
}

#our-blog .items .item .about-share a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 20px 0 10px;
}

#our-blog .items .item .about-share a:hover {
  text-decoration: none;
  color: #FFBC09;
}

#our-blog .items .item .fa-link {
  color: #FFBC09;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50%;
  padding-left: 5px;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 43%;
  background-color: white;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

#our-blog .items .item .fa-link::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 50%;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-name: chain;
          animation-name: chain;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#our-blog .items .item:hover img {
  opacity: 0.5;
}

#our-blog .items .item:hover .fa-link {
  opacity: 1;
  top: 16%;
}

@-webkit-keyframes chain {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

@keyframes chain {
  0% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  30% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  30.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
  60% {
    top: -20px;
    left: -20px;
    width: 100px;
    height: 100px;
    opacity: 0.1;
  }
  60.01% {
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    opacity: 1;
  }
}

#our-client {
  padding: 80px;
}

#our-client img {
  width: 80%;
  opacity: 0.7;
}

#training button {
  right: 50% !important;
  margin-right: -80px !important;
  border-color: white;
}

#free {
  background-image: url("../images/about_bg.jpg");
  background-size: cover;
  background-position-y: center;
}

#free .container-fluid {
  padding: 80px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#free .container-fluid a {
  color: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#free .container-fluid a:hover {
  text-decoration: none;
  color: #FFBC09;
}

#free .container-fluid h1 {
  color: white;
  font-weight: bold;
}

#free .container-fluid h5 {
  color: white;
  line-height: 50px;
}

#about-statics {
  background-color: #f8f8f8;
}

#about-statics .item {
  padding: 70px 50px;
  color: white;
  text-align: center;
}

#about-statics .item p {
  font-size: 30px;
  margin-top: 20px;
  font-weight: bold;
}

#about-statics .item span {
  font-size: 18px;
}

#about-statics .statics {
  background-color: rgba(0, 31, 63, 0.651);
}

#about-statics .item {
  color: black;
}

main > .container {
  margin-top: 100px;
  margin-bottom: 100px;
}

main > .container #teachers-page img {
  width: 100%;
}

main > .container #teachers-page .teachers-static {
  padding: 25px;
  background-color: #fff3cd;
  width: 100%;
}

main > .container #teachers-page .teachers-static button {
  width: 100px;
  height: 35px;
  font-weight: 400;
  position: absolute;
  top: 480px;
  right: 40px;
}

main > .container #teachers-page .teachers-static .piece {
  width: 120px;
  height: 35px;
  position: absolute;
  top: 480px;
  left: 40px;
  background-color: #d4edda;
  font-size: 16px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
}

main > .container #teachers-page .teachers-static .teachers-info a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main > .container #teachers-page .teachers-static .teachers-info a:hover {
  color: #FFBC09;
  text-decoration: none;
}

main > .container #teachers-page .teachers-static .teachers-info .teach {
  width: 180px;
}

main > .container #teachers-page .teachers-static .teachers-info .teach img {
  border-radius: 8px;
}

main > .container #teachers-page .teachers-static .teachers-info .teach .name {
  padding: 5px;
}

main > .container #teachers-page .teachers-static .teachers-info .categories {
  padding: 5px 10px;
  border-left: 1px solid;
  width: 180px;
}

main > .container #teachers-page .teachers-static .teachers-info .students {
  padding: 5px 10px;
  border-left: 1px solid;
  width: 150px;
}

main > .container #teachers-page .teachers-static .teachers-info .review {
  padding: 5px 10px;
  border-left: 1px solid;
  width: 150px;
}

main > .container #teachers-page .teachers-static .teachers-info .review i {
  color: #FFBC09;
}

#tab-menu {
  margin-top: 30px;
}

#tab-menu .header-tab-menu {
  border-bottom: 0.5px solid #dddddd;
  text-align: center;
}

#tab-menu .header-tab-menu .head-menu {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  width: 100px;
  margin-right: 20px;
  padding: 10px;
  border-bottom: 0.5px solid #dddddd;
}

#tab-menu .header-tab-menu .head-menu:hover {
  color: #FFBC09;
}

#tab-menu .header-tab-menu [show-tab] {
  border-bottom: 4px solid white;
  border-color: #FFBC09;
  color: #FFBC09;
}

#tab-menu .body-tab-menu {
  margin-top: 20px;
}

#tab-menu .body-tab-menu [overview] {
  display: none;
  border-radius: 10px;
  border: 0.5px solid #d4d4d4;
  padding: 20px;
}

#tab-menu .body-tab-menu [overview] p {
  margin: 0;
  opacity: 0.7;
}

#tab-menu .body-tab-menu [curriculum] {
  display: none;
  border: 0.5px solid #d4d4d4;
}

#tab-menu .body-tab-menu [curriculum] div {
  height: 62px;
  overflow: hidden;
}

#tab-menu .body-tab-menu [curriculum] h5 {
  cursor: pointer;
  font-weight: 700;
  border: 0.5px solid #d4d4d4;
  padding: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#tab-menu .body-tab-menu [curriculum] h5:hover {
  color: #FFBC09;
}

#tab-menu .body-tab-menu [curriculum] .sag {
  background-color: #FFBC09;
  color: white;
  border-radius: 4px;
  padding: 3px 10px 5px;
  font-size: 14px;
  position: absolute;
  right: 50px;
}

#tab-menu .body-tab-menu [curriculum] p {
  padding: 8px 20px 15px;
  opacity: 0.7;
  border-bottom: 0.5px solid #d4d4d4;
  margin: 0;
}

#tab-menu .body-tab-menu [instructor] {
  display: none;
}

#tab-menu .body-tab-menu .item {
  border-radius: 10px;
  padding: 25px 50px 25px 70px;
  -webkit-box-shadow: 0px 0px 10px 0px #bbbbbb;
          box-shadow: 0px 0px 10px 0px #bbbbbb;
  margin: 50px;
  position: relative;
}

#tab-menu .body-tab-menu .item h1 {
  font-weight: 700;
}

#tab-menu .body-tab-menu .item i {
  color: #FFBC09;
}

#tab-menu .body-tab-menu .item p {
  opacity: 0.7;
  margin-top: 10px;
}

#tab-menu .body-tab-menu .item .img {
  position: absolute;
  top: 30px;
  left: -50px;
  border-radius: 5px;
  overflow: hidden;
}

#tab-menu .body-tab-menu .item:focus {
  outline: none;
}

#tab-menu .body-tab-menu [review] {
  display: none;
  padding: 20px 15px;
  border: 0.5px solid #d4d4d4;
  border-radius: 5px;
}

#tab-menu .body-tab-menu [review] .rating .left {
  text-align: center;
  vertical-align: middle;
  background-color: whitesmoke;
  padding: 20px 0;
}

#tab-menu .body-tab-menu [review] .rating .left h1 {
  font-size: 70px;
}

#tab-menu .body-tab-menu [review] .rating .left p {
  opacity: 0.8;
}

#tab-menu .body-tab-menu [review] .rating .left span {
  color: #FFBC09;
}

#tab-menu .body-tab-menu [review] .rating .left i {
  font-size: 14px;
  margin: 3px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars {
  width: 100%;
  margin: 15px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars .gray {
  margin: 0 15px;
  height: 16px;
  background-color: #e2e2e2;
  width: 70%;
  overflow: hidden;
  margin-top: 4px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars .gray .ninety {
  background-color: #FFBC09;
  width: 90%;
  height: 18px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars .gray .seventy {
  background-color: #FFBC09;
  width: 70%;
  height: 18px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars .gray .fourty {
  background-color: #FFBC09;
  width: 40%;
  height: 18px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars .gray .twenty {
  background-color: #FFBC09;
  width: 20%;
  height: 18px;
}

#tab-menu .body-tab-menu [review] .rating .right .stars .gray .ten {
  background-color: #FFBC09;
  width: 10%;
  height: 18px;
}

#tab-menu .body-tab-menu [review] .teacher-say {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#tab-menu .body-tab-menu [review] .teacher-say img {
  border-radius: 5px;
}

#tab-menu .body-tab-menu [review] .teacher-say .info {
  margin-left: 15px;
}

#tab-menu .body-tab-menu [review] .teacher-say .info a {
  color: black;
  -webkit-transform: 0.3s;
          transform: 0.3s;
  font-size: 16px;
  font-weight: bold;
}

#tab-menu .body-tab-menu [review] .teacher-say .info a:hover {
  color: #FFBC09;
  text-decoration: none;
}

#tab-menu .body-tab-menu [review] .teacher-say .info p {
  margin: 3px 0 0 0;
}

#tab-menu .body-tab-menu [review] .teacher-say .info span {
  color: #FFBC09;
  position: absolute;
  top: 3px;
  right: 0px;
  font-size: 12px;
}

#tab-menu .body-tab-menu [review] .teacher-say .info span i {
  margin: 2px;
}

#tab-menu .body-tab-menu [review] .add-review i {
  font-size: 20px;
  color: #FFBC09;
}

#tab-menu .body-tab-menu [review] .add-review textarea {
  padding: 15px;
  border: 1px solid #bbbbbb;
  border-radius: 5px;
}

#tab-menu .body-tab-menu [review] .add-review textarea::-webkit-input-placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review textarea:-ms-input-placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review textarea::-ms-input-placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review textarea::placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review input {
  border: 1px solid #bbbbbb;
  border-radius: 5px;
  width: 47%;
  margin: 20px 0;
  padding: 10px;
}

#tab-menu .body-tab-menu [review] .add-review input::-webkit-input-placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review input:-ms-input-placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review input::-ms-input-placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [review] .add-review input::placeholder {
  opacity: 1;
}

#tab-menu .body-tab-menu [show-tab] {
  display: block;
}

.course-detail-right .letets-course, .course-detail-right .course-categories, .course-detail-right .recent-post, .course-detail-right .tags {
  position: relative;
  margin: 20px 0;
}

.course-detail-right .letets-course input, .course-detail-right .course-categories input, .course-detail-right .recent-post input, .course-detail-right .tags input {
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
}

.course-detail-right .letets-course input::-webkit-input-placeholder, .course-detail-right .course-categories input::-webkit-input-placeholder, .course-detail-right .recent-post input::-webkit-input-placeholder, .course-detail-right .tags input::-webkit-input-placeholder {
  opacity: 1;
}

.course-detail-right .letets-course input:-ms-input-placeholder, .course-detail-right .course-categories input:-ms-input-placeholder, .course-detail-right .recent-post input:-ms-input-placeholder, .course-detail-right .tags input:-ms-input-placeholder {
  opacity: 1;
}

.course-detail-right .letets-course input::-ms-input-placeholder, .course-detail-right .course-categories input::-ms-input-placeholder, .course-detail-right .recent-post input::-ms-input-placeholder, .course-detail-right .tags input::-ms-input-placeholder {
  opacity: 1;
}

.course-detail-right .letets-course input::placeholder, .course-detail-right .course-categories input::placeholder, .course-detail-right .recent-post input::placeholder, .course-detail-right .tags input::placeholder {
  opacity: 1;
}

.course-detail-right .letets-course i, .course-detail-right .course-categories i, .course-detail-right .recent-post i, .course-detail-right .tags i {
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.course-detail-right .letets-course h4::before, .course-detail-right .course-categories h4::before, .course-detail-right .recent-post h4::before, .course-detail-right .tags h4::before {
  content: "";
  background-color: #FFBC09;
  width: 120px;
  height: 3px;
  position: absolute;
  bottom: 0px;
  right: 135px;
}

.course-detail-right .letets-course a, .course-detail-right .course-categories a, .course-detail-right .recent-post a, .course-detail-right .tags a {
  color: black;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.course-detail-right .letets-course a:hover, .course-detail-right .course-categories a:hover, .course-detail-right .recent-post a:hover, .course-detail-right .tags a:hover {
  color: #FFBC09;
  text-decoration: none;
}

.course-detail-right .letets-course .count, .course-detail-right .course-categories .count, .course-detail-right .recent-post .count, .course-detail-right .tags .count {
  position: absolute;
  right: 10px;
}

.course-detail-right .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.course-detail-right .item a {
  color: black;
  font-size: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.course-detail-right .item a:hover {
  color: #FFBC09;
  text-decoration: none;
}

.course-detail-right .item p {
  opacity: 0.7;
  font-size: 14px;
  margin: 0;
}

.course-detail-right .course-categories h4::before {
  top: 40px;
}

.course-detail-right .course-categories .categorie {
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.course-detail-right .course-categories .categorie:hover {
  color: #FFBC09;
  text-decoration: none;
}

.course-detail-right .course-categories .categorie a,
.course-detail-right .course-categories .categorie .count {
  font-size: 18px;
}

.course-detail-right .recent-post h4::before {
  top: 40px;
}

.course-detail-right .box {
  padding: 7px 11px;
  margin: 3px;
  border: 0.5px solid #b3b3b3;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.course-detail-right .box:hover {
  background-color: #FFBC09;
}

.course-detail-right .box:hover a {
  color: white;
  text-decoration: none;
}

.course-detail-right .box a {
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#get-in-touch {
  margin: 80px 0;
}

#get-in-touch .register {
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 20px 0px #c9c9c9;
          box-shadow: 0px 0px 20px 0px #c9c9c9;
}

#get-in-touch .register .register1 {
  padding: 40px 20px 40px 30px;
}

#get-in-touch .register .register1 input {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
}

#get-in-touch .register .register1 input::-webkit-input-placeholder {
  opacity: 1;
}

#get-in-touch .register .register1 input:-ms-input-placeholder {
  opacity: 1;
}

#get-in-touch .register .register1 input::-ms-input-placeholder {
  opacity: 1;
}

#get-in-touch .register .register1 input::placeholder {
  opacity: 1;
}

#get-in-touch .register .register1 textarea {
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}

#get-in-touch .register .register1 button {
  width: 120px;
}

#get-in-touch .register .map {
  overflow: hidden;
}

#contact-information {
  margin-bottom: 80px;
}

#contact-information .item-cover {
  border-radius: 10px;
  margin: 10px 0;
}

#contact-information .item {
  text-align: center;
  border-radius: 10px;
  width: 100%;
  padding: 30px 10px;
  color: white;
}

#contact-information .item h4 {
  padding: 10px;
}

#contact-information .item p {
  margin: 0;
}

#news .time {
  text-align: center;
  width: 80px;
  position: absolute;
  top: 10px;
  left: 25px;
  color: black;
  border-radius: 5px;
  overflow: hidden;
}

#news .time .up {
  padding: 5px;
  background-color: white;
  font-weight: bold;
}

#news .time .up :first-child {
  font-size: 25px;
}

#news .time .down {
  padding: 5px;
  background-color: #FFBC09;
  color: white;
  font-weight: 500;
}

#news .time p {
  margin: 0;
}

#news img {
  width: 100%;
}

#news .news {
  position: relative;
}

#news .news h4 {
  padding-top: 10px;
}

#news .news .left {
  color: #FFBC09;
}

#news .news .left i {
  color: rgba(0, 0, 0, 0.623);
}

#news .news .right {
  position: absolute;
  right: 10px;
  top: 35px;
}

#news .news .right i {
  font-size: 18px;
  padding: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#news .news .right i:hover {
  color: #FFBC09;
}

#news .news .comment {
  margin: 40px 0;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px #c9c9c9;
          box-shadow: 0px 0px 20px 0px #c9c9c9;
}

#news .news .comment input {
  padding: 15px 20px;
  width: 47%;
  margin-top: 10px;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

#news .news .comment input::-webkit-input-placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment input:-ms-input-placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment input::-ms-input-placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment input::placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment textarea {
  padding: 15px 20px;
  width: 100%;
  margin: 20px 0;
  border: 1px solid #b1b1b1;
  border-radius: 5px;
}

#news .news .comment textarea::-webkit-input-placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment textarea:-ms-input-placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment textarea::-ms-input-placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment textarea::placeholder {
  opacity: 0.8;
  font-size: 16px;
}

#news .news .comment button {
  width: 120px;
}

.timer {
  background-color: #FFBC09;
  padding: 10px 10px 80px 10px;
  color: white;
}

.timer .to-end {
  text-align: center;
}

.timer .to-end span {
  font-size: 24px;
  padding: 0 2px;
  font-weight: 700;
}

.timer .time-name {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.timer .time-name span {
  
  font-size: 12px;
}

.timer .right {
  width: 120px;
  padding: 5px !important;
  left: 80px;
  top: 100px;
}
/*# sourceMappingURL=style.css.map */