#most-popular-categories {
.item{
    text-align: center;
    padding: 25px 0;
    border-radius: 5px;
    color: white;
    i{
        font-size: 30px;
    }
    p{
        margin-top: 10px;;
        font-size: 18px;
    }
}
}