.bottom{
    top: 100px;
}

#slider{
    background-color: black;
    height: 800px;
    position: relative;
    .slider-item{
        height: 800px;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s;
        position: absolute;
        img{
            margin-top: -100px;
        opacity: 0.5;
        }
        .text-slider{
            position: absolute;
            top: 35%;
            left: 23%;
            color: white;
            text-align: center;
            h1{
                width: 800px;
                font-size: 50px;
                font-weight: bold!important;
            }
            h5{
                font-size: 18px;
                margin: 40px 0;
            }
            .buttons{
                 width: 100%;
            }
            .buttons .left{
                width: 155px;
                padding: 12px;
                border-style: none;
                left: -100px;
                z-index: 2;
            }
            .buttons .right{
                background-color: transparent;
                border-style: solid;
                padding: 12px 28px;
                position: absolute;
                right: 230px;
                color: white;
                overflow: hidden;
                z-index: 2;
                &:hover::before{
                    transition: all 0.6s;
                    top: -5px;
                    left: -5px;
                    z-index: -1;

                }
                &::after{
                    content: "";
                    width: 160px;
                    height: 55px;
                    position: absolute;
                    background-color: white;
                    top: -5px;
                    left: 170px;
                    transition: all 0.6s;

                }
                &:hover{
                    transition: 0.3s;
                    color: $color1;
                    &::after{
                    z-index: -1;
                    transition: 0.6s;
                    top: -5px;
                    left: -5px;
                    transition: 0s;
                    transition-delay: 0.6s;

                }
            }
            }
        }
    }

    .show{
        opacity: 1;
        transition: all 0.3s;
    }
    .icon{
        z-index: 2;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top: 350px;
        padding-top: 14px;
        font-size: 18px;
        opacity: 0;
        transition: 0.2s;
        
    }
    .left{
        left: 30px;
        padding-left: 21px
    }
    .right{
        right: 30px;
        padding-left: 21px;
    }
    &:hover .icon{
        opacity: 1;
    }
}